* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: url("https://images.unsplash.com/photo-1416339442236-8ceb164046f8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1103&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    transition: filter 0.7s;
}

h1 {
    color: white;
    font-size: 60px;
    font-weight: 900;
    text-transform: capitalize;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .9);
}

.btn {
    padding: 10px 20px;
    width: 200px;
    cursor: pointer;
    background: hsl(16, 100%, 50%);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}

.btn:hover {
    filter: brightness(0.8);
    transform: scale(1.1);
}

.active.container {
    filter: blur(5px) brightness(0.75);
}

.popup-container {
    position: fixed;
    left: 50%;
    width: 400px;
    height: 250px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    top: 30%;
    transform: translate(-50%);
    background: url("https://images.unsplash.com/photo-1614149484421-dcd8185578cb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    opacity: 1;
    transition: all 0.7s ease-in-out;
}

h4 {
    font-size: 30px;
    margin: 0;
    color: rgb(3, 209, 220);
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.label {
    color: rgb(3, 209, 220);
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.popup-btn {
    cursor: pointer;
    background: hsl(16, 100%, 50%);
    padding: 10px;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    width: 200px;
    border: 2px solid black;
}

.popup-btn:hover {
    filter: brightness(0.8);
    transform: scale(1.1);
}

.input {
    border: 2px solid;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    font-size: 20px;
    text-align: center;
}

.input::placeholder {
    color: lightgrey;
}

.close-icon {
    position: absolute;
    cursor: pointer;
    right: 20px;
}

.close-icon:hover {
    transform: scale(1.1);
    color: orangered;
}

.active.popup-container {
    visibility: hidden;
    opacity: 0;
    top: 10%;
}